.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.header{
    background-color: white;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 100px;
    height: 10px;
    width: 100%;
}
.main{
    background-color: rgb(179, 179, 179);
    align-self: center;
    margin: 50px;
    padding: 500px;
    height: 10px;
    width: 100%;
}
.nav{
    background-color: rgb(179, 179, 179);
    align-self: center;
    margin: 0px;
    padding: 50px;
    height: 1px;
  
}